a.white-link:link {
  color: white;
}

a.white-link:visited {
  color: white;
}

.footer {
  background-color: #171717;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}

.oak-row {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.white-link {
  color: white;
}
