a.black-link:link {
  color: black;
}

a.black-link:visited {
  color: black;
}

.about-us {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  background-color: #a1a9fe;
  color: white;
  font-weight: bold;
}

.blog-card-container {
  display: flex;
}

.button {
  background-color: #a1a9fe;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: rgba(159, 167, 254, 0.89);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.extension-button {
  background-color: rgba(255, 145, 77, 1);
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.extension-button:hover {
  background-color: rgba(159, 167, 254, 0.89);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.medium-card-container {
  padding-top: 1rem;
}

.medium-card-container-mobile {
  align-items: center;
  margin: auto;
  padding-top: 1rem;
  width: 75%;
}

.contact {
  text-align: center;
}

.marquee {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/oak_marquee.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1.25rem;
}

.marquee-button {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.oak-row {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.oak-row-mobile {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.oak-subtitle {
  font-size: 2.5rem;
}

.oak-text {
  font-size: 1.5rem;
}

.oak-title {
  padding-bottom: 4rem;
  font-size: 5rem;
}

.testimonial {
  background-color: #242038;
  color: white;
}

.transform {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/oak_grid.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}
